<body class="map">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">

	            <div class="wrap">
	                <p class="form-title">Map Page</p>
	                
	                <a href="<%= desk_path %>">
	                	<div class="desk">
		                	<i class="fa fa-laptop fa-5x" aria-hidden="true">
		                	<p class="smaller" style="font-size:20px;"> Desk
		                	</p>
		                	</i>

		                </div>
	                </a>


	                <a href="<%= team_path %>">
		                <div class="team">
		                	<i class="fa fa-users fa-5x" aria-hidden="true">
		                	<p class="smaller" style="font-size:20px;"> Team
		                	</p>
		                	</i>
		                </div>
		            </a>

		            <a href="<%= food_path %>">
		                <div class="food">
		                	<i class="fa fa-cutlery fa-5x" aria-hidden="true">
		                	<p class="smaller" style="font-size:20px;"> Food
		                	</p>	
		                	</i>
		                </div>
		            </a>


		            <a href="<%= calendar_path %>">
		                <div class="calendar">
		                	<i class="fa fa-calendar fa-5x" aria-hidden="true">
		                		<p class="smaller" style="font-size:15px;"> Calendar
		                	</p>
		                	</i>
		                </div>
		            </a>
	                

	                <a href="<%= explore_path %>">
		                <div class="explore">
		                	<i class="fa fa-globe fa-5x" aria-hidden="true">
		                		<p class="smaller" style="font-size:15px;"> Explore
		                	</p>
		                	</i>
		                </div>
	                </a>

	            </div>
				
	        </div>
	    </div>
	</div>
	<script src="https://use.fontawesome.com/8bccb154dc.js"></script>
</body>